# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# ASP.NET Secrets folder
**/secrets.json
**/secrets/

# Rider settings (caso use JetBrains)
.idea/

# IIS Express
.vs/
*.vspscc
*.vssscc
*.scc

# Logs
*.log

# Publish output
publish/
*.publish.xml

# Configuration transform files
# *.Development.config
# *.Production.config
# *.Staging.config

# Environment files
.env
.env.*

# MacOS/Linux/Windows crap
.DS_Store
Thumbs.db
